<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.hackerboard</string>
	<key>connections</key>
	<dict>
		<key>50B4021B-BEB3-47B4-AE36-70254E107434</key>
		<array/>
		<key>533DD0B8-001B-4206-A27A-0134AC5CEDA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22A9DF1E-82B7-4771-A27E-D18CDF3987CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81D415C5-CA65-4F79-9F94-BC4161B14D81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>B3A95060-C1AC-4847-BD1E-0A6A0D0580B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22A9DF1E-82B7-4771-A27E-D18CDF3987CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Links from the front page of Hacker News</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hackerboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:hackernews_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting news…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>hackerboard</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Hacker News</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81D415C5-CA65-4F79-9F94-BC4161B14D81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:hackerboardforceupdate</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Force Hackerboard Cache Rebuild</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B3A95060-C1AC-4847-BD1E-0A6A0D0580B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./hackerboard 'update_list'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22A9DF1E-82B7-4771-A27E-D18CDF3987CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>rebuild_cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>533DD0B8-001B-4206-A27A-0134AC5CEDA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search Hacker News front page links via the Hacker News Keyword (default: `hn`).

![Hacker News front page links](images/about/hn.png)

Press &lt;kbd&gt;↩&lt;/kbd&gt; to open the linked website or &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to open the Hacker News comments thread. This behaviour can be reversed in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

News are fetched if it’s been over an hour since the last run. If necessary, an immediate cache rebuild can be forced with the `:hackerboardforceupdate` keyword.</string>
	<key>uidata</key>
	<dict>
		<key>22A9DF1E-82B7-4771-A27E-D18CDF3987CE</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>50B4021B-BEB3-47B4-AE36-70254E107434</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>533DD0B8-001B-4206-A27A-0134AC5CEDA7</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>81D415C5-CA65-4F79-9F94-BC4161B14D81</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>B3A95060-C1AC-4847-BD1E-0A6A0D0580B1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Hacker News Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hackernews_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Open comments thread instead of article link</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Default to Comments</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>default_comments</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/hackerboard-workflow/</string>
</dict>
</plist>
