<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.hackerboard</string>
	<key>connections</key>
	<dict>
		<key>2E3C3E70-EF84-4222-99B9-363631BE386E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F47BE8C-E36B-4A53-8BC2-A77BC2139A63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AF7D943-A3BD-444D-80B7-9CC0D32EEDA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8A2E708-A0F1-4051-9412-07C4AAC3DACE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F94D85-6D5C-4DA9-8CB8-82ECEEA7D434</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9EFA03D0-ED2A-421F-BE5E-774B46019580</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Switch sort order</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>50B4021B-BEB3-47B4-AE36-70254E107434</key>
		<array/>
		<key>81D415C5-CA65-4F79-9F94-BC4161B14D81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>9EFA03D0-ED2A-421F-BE5E-774B46019580</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E042778B-F031-4CE1-A49A-3CD421B1AFD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F787EE5A-DDC0-44C9-A000-275FB3963C1C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AF7D943-A3BD-444D-80B7-9CC0D32EEDA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>24C80AFD-0A16-4AB5-82CC-7F4F29B1B05F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F47BE8C-E36B-4A53-8BC2-A77BC2139A63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>838D1C35-83A9-41A3-863E-4ECE7D264EF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E042778B-F031-4CE1-A49A-3CD421B1AFD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8A2E708-A0F1-4051-9412-07C4AAC3DACE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2CD1D5D-BFBE-49AC-947E-35D043FD85F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E3C3E70-EF84-4222-99B9-363631BE386E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Search and interact with Hacker News</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hackerboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50B4021B-BEB3-47B4-AE36-70254E107434</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:frontpage_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting stories…</string>
				<key>script</key>
				<string>export frontpage='1'
./hackerboard 'search?tags=front_page'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Hacker News front page</string>
				<key>title</key>
				<string>Hacker News Frontpage</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81D415C5-CA65-4F79-9F94-BC4161B14D81</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:search_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>search_order</key>
					<string>search</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E042778B-F031-4CE1-A49A-3CD421B1AFD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Getting stories…</string>
				<key>script</key>
				<string>readonly search_query="${1}"
readonly escaped_query="$(/usr/bin/osascript -l JavaScript -e 'function run(argv) { return encodeURIComponent(argv[0].normalize()).replace(/[!''()*]/g, (c) =&gt; `%${c.charCodeAt(0).toString(16).toUpperCase()}`) }' "${search_query}")"

export search_query
export frontpage='0'
./hackerboard "${search_order}?tags=story&amp;query=${escaped_query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search Hacker News stories</string>
				<key>title</key>
				<string>Hacker News Search</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>search</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45F94D85-6D5C-4DA9-8CB8-82ECEEA7D434</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A8A2E708-A0F1-4051-9412-07C4AAC3DACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:search_order}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search_by_date</string>
						<key>outputlabel</key>
						<string>Relevance</string>
						<key>uid</key>
						<string>F787EE5A-DDC0-44C9-A000-275FB3963C1C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:search_order}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search</string>
						<key>outputlabel</key>
						<string>Date</string>
						<key>uid</key>
						<string>24C80AFD-0A16-4AB5-82CC-7F4F29B1B05F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9EFA03D0-ED2A-421F-BE5E-774B46019580</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:search_query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>search_order</key>
					<string>search_by_date</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3AF7D943-A3BD-444D-80B7-9CC0D32EEDA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:submit_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open page to submit frontmost browser tab</string>
				<key>text</key>
				<string>Submit to Hacker News</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E2CD1D5D-BFBE-49AC-947E-35D043FD85F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://news.ycombinator.com/submitlink?u={var:split1}&amp;t={var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>838D1C35-83A9-41A3-863E-4ECE7D264EF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>url_tab_title</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>2E3C3E70-EF84-4222-99B9-363631BE386E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>9F47BE8C-E36B-4A53-8BC2-A77BC2139A63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Search the Hacker News front page via the `hnf` keyword.

![Hacker News front page links](images/about/hnf.png)

Press &lt;kbd&gt;↩&lt;/kbd&gt; to open the story’s website or &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to open the Hacker News comments thread. This behaviour can be reversed in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

Seach stories with the `hns` keyword.

![Searching Hacker News links](images/about/hns.png)

Previous shortcuts apply, plus &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; switches between ordering by date (more recent first) and by relevance (then points, then number of comments).

Submit the frontmost browser tab with the `hnsubmit` keyword.

![Submit to Hacker News](images/about/hnsubmit.png)</string>
	<key>uidata</key>
	<dict>
		<key>2E3C3E70-EF84-4222-99B9-363631BE386E</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>3AF7D943-A3BD-444D-80B7-9CC0D32EEDA2</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>45F94D85-6D5C-4DA9-8CB8-82ECEEA7D434</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>50B4021B-BEB3-47B4-AE36-70254E107434</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>81D415C5-CA65-4F79-9F94-BC4161B14D81</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>838D1C35-83A9-41A3-863E-4ECE7D264EF4</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>9EFA03D0-ED2A-421F-BE5E-774B46019580</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>9F47BE8C-E36B-4A53-8BC2-A77BC2139A63</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>A8A2E708-A0F1-4051-9412-07C4AAC3DACE</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>E042778B-F031-4CE1-A49A-3CD421B1AFD3</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>E2CD1D5D-BFBE-49AC-947E-35D043FD85F8</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hnf</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Frontpage Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>frontpage_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hns</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>hnsubmit</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords to trigger the workflow.</string>
			<key>label</key>
			<string>Submit Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>submit_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>story</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Story Website</string>
						<string>story</string>
					</array>
					<array>
						<string>Comments Thread</string>
						<string>comments</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>⌥↩ opens the opposite.</string>
			<key>label</key>
			<string>Default URL</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>default_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>search</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Revelance</string>
						<string>search</string>
					</array>
					<array>
						<string>Date</string>
						<string>search_by_date</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>⌘↩ temporarily switches the order and reruns the search.</string>
			<key>label</key>
			<string>Search Order</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>search_order</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>Newline-separated case-insensitive list of words to ignore in titles and URLs.</string>
			<key>label</key>
			<string>Ignore Keywords</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignore_keywords</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/hackerboard-workflow/</string>
</dict>
</plist>
